<html style="height: 100%;">
  <head>
  <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    
    </head>
  
  <body style="margin: 0px; background: #0e0e0e; height: 100%">
    <img style="-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="/raw/<%=ID%>">
  </body>
</html>
<html prefix="og: https://ogp.me/ns#">
<head>
<title>Image</title>
  <meta name="twitter:card" content="photo"/>
<meta property="og:title" content="Epog" />
<meta property="og:site_name" content="Made by Epog"/>
    <meta name="theme-color" content="#ff0000">
<meta property="og:image:alt" content="wuwuu" />

 <meta property="og:url" content="/">
<meta property="og:image" content='/raw/<%=ID%>'/>
</head>

</html>
